<!DOCTYPE html>
<html
 th:fragment="parent(content, title)"
 lang="en" 
 xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" data-th-href="@{'css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <!-- common header -->
    <ul class="p-4">
        <li>
            <a th:href="@{'/home'}">Home</a>
        </li>
        <li>
            <a th:href="@{'/services'}">Services</a>
        </li>
        <li>
           <a th:href="@{'/about'}">About</a>
        </li>
    </ul>
    <!-- main content -->
    <div class="p-4">
        <section th:replace="${content}"></section>
    </div>
    <!-- common footer -->
    <footer class="p-4">Footer: </footer>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>